body {
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

#topbar {
	display: flex;   
    	justify-content: space-between;  /*  1 */
	position: fixed;  /*  2 */
	align-items: center; /*   3   */
	padding-left: 3%;
	width: 100vw;
	background-color: ivory;
	height: 9vh;
	top: 0;
}

ul {
	list-style-type: none; /*   4 */
	display: flex;   
	margin-right: 7%;
	font-size: 1.5em;
}

li {
	margin: 10px;
}

section {
	width: 40vw;
	height: 40vh;
	font-size: 2em;
	background-color: ivory;
	margin: 1%;
}

#arti {
	flex-wrap: wrap; /*   5 */
	display: flex;  
	margin-left: 8%;
	margin-top: 15vh;
}

footer {
	font-size: 1.3em;
   	justify-content: space-between;   /*  6 */
	align-items: center; /*   7 */
	display: flex; 
	margin: 10% 3% 0 3%;
}

